<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link href="{%static 'css/hexagongame.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

	<div class="container">
		<div class="align-items-center">
    <ul class="hexagon-grid-container-1">
	<li class="hexagon hexagon-yellow">
		<div class="hexagon-inner">
			<span class="hexagon-name">A</span>

		</div>
	</li>

	<li class="hexagon hexagon-yellow">
		<div class="hexagon-inner" >
			<span class="hexagon-name">B</span>

		</div>
	</li>
	</ul>

	<ul class="hexagon-grid-container">
	<li class="hexagon hexagon-yellow">
		<div class="hexagon-inner">
			<span class="hexagon-name">C</span>

		</div>
	</li>
	<li class="hexagon hexagon-yellow">
		<div class="hexagon-inner">
			<span class="hexagon-name" style="font-size: 15px">Remaining words</span>
			<span class="hexagon-featured-score">54</span>
		</div>
	</li>
	<li class="hexagon hexagon-yellow">
		<div class="hexagon-inner">
			<span class="hexagon-name">D</span>

		</div>
	</li>
	</ul>
	<ul class="hexagon-grid-container-1" >
	<li class="hexagon hexagon-yellow">
		<div class="hexagon-inner">
			<span class="hexagon-name">E</span>

		</div>
	</li>
		<li class="hexagon hexagon-yellow">
		<div class="hexagon-inner">
			<span class="hexagon-name">F</span>

		</div>
	</li>
		</ul>
		</div>
</div>
























</body>
{% include 'navbar.html' %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</html>