<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Antelearn</title>
    <link href="{%static 'css/pointtable.css' %}" rel="stylesheet">
</head>
<body>
<table class="tg" style="undefined;table-layout: fixed; width: 213px; margin: 0 auto;">
<colgroup>
<col style="width: 200px">
<col style="width: 200px">
<col style="width: 100px">
</colgroup>
  <tr>
    <th>CHARACTER NAME</th>
    <th>JUMMBLED GAME</th>
    <th>POINTS</th>
  </tr>
  <!--FIRST YEARS-->
  <tr>
    <td class="tg-liondor">Name</td>
    <td class="tg-liondor">grYffindor</td>
    <td class="tg-liondor">0</td>
  </tr>
    <tr>
    <td class="tg-snakerin">Name</td>
    <td class="tg-snakerin">slYTherin</td>
    <td class="tg-snakerin">0</td>
  </tr>
  <!--SECOND YEARS-->
  <tr>
    <td class="tg-badgerpuff">Name</td>
    <td class="tg-badgerpuff">hufflepuff</td>
    <td class="tg-badgerpuff">0</td>
  </tr>
  </tr>
  <!--THIRD YEARS-->
  <tr>
    <td class="tg-eagleclaw">Name</td>
    <td class="tg-eagleclaw">ravenclaw</td>
    <td class="tg-eagleclaw">0</td>
  </tr>
  <!--FOURTH YEARS-->
  <!--FIFTH YEARS-->
  <!--SIXTH YEARS-->
  <!--SEVENTH YEARS-->

</table>

<center>
<div class=dadadesc></div></center>
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Nunito+Sans|Oswald|Unica+One"
rel="stylesheet">





<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% include 'navbar.html' %}
</body>

</html>