<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link href="{%static 'css/login.css' %}" rel="stylesheet">
  <title>ANTELEARN</title>
</head>
<head>



<div class="mask d-flex align-items-center gradient-custom-3">

  <div class="container ">

    <div class="row d-flex justify-content-center align-items-center ">

      <div class="col-12 col-md-9 col-lg-7 col-xl-6">

        <div class="card" style="border-radius: 15px;">

          <div class="card-body p-5">

            <h2 class="text-uppercase text-center mb-5">Create an account</h2>


            <form method="POST">
              {%csrf_token%}
              {% if error%}
    <div class ="alert alert-danger">
        {{error}}
    </div>
    {% endif %}
            <div [formGroup]="registerForm">
              <div class="form-floating mb-3">
                <input type="text" value="{{username}}" name = "username" class="form-control" id="usernameInput" placeholder=" " >
                <label for="usernameInput">Username</label>
              </div>

              <div class="form-floating mb-3">
                <input type="email" value="{{email}}" name ="email" class="form-control" id="emailInput" placeholder="name@example.com"
                  >
                <label for="emailInput">Email address</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" value="{{telephonenumber}}" name="telephonenumber" class="form-control" id="telephoneInput" placeholder="554 554 5454">
                <label for="telephoneInput">Telephone Number</label>
              </div>

              <div class="form-floating mb-3">
                <input type="password" name="password" class="form-control" id="passwordInput" placeholder=" "
                  formControlName="password">
                <label for="passwordInput">Password</label>
              </div>

              <div class="form-floating mb-3">
                <input type="password" name="repassword" class="form-control" id="rPasswordInput" placeholder=" "
                  formControlName="passwordControl">
                <label for="rPasswordInput">Repeat Password</label>
              </div>



              <div class="form-outline input-group mb-3">
                <label class="input-group-text" for="role">Role</label>
                <select class="form-select" value="{{role}}" name="role" id="role" formControlName="role">
                  <option selected>Choose...</option>
                  <option value="admin">Admin</option>
                  <option value="user">User</option>
                </select>
              </div>


              <div class="form-check d-flex justify-content-center mb-5">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                <label class="form-check-label" >
                  I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                </label>
              </div>

              <div class="d-flex justify-content-center">
                <a href="{%url 'register'%}">
                <button type="submit"
                  class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
              </a></div>

<p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="{%url 'login'%}" class="fw-bold text-body"><u>Login here</u></a></p>
</div>
</form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</head>
{% include 'navbar.html' %}
<body>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>